<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="ie=edge" http-equiv="x-ua-compatible">

  <title>{{ page.title }} | AdminLTE 3 Documentation</title>
  {% seo %}

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link href="{{'assets/plugins/fontawesome-free/css/all.min.css' | prepend: site.baseurl}}" rel="stylesheet">
  <link href="{{'assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' | prepend: site.baseurl}}"
        rel="stylesheet">
  <link href="{{'assets/css/docs.css' | prepend: site.baseurl}}" rel="stylesheet">
  <link href="{{'assets/css/highlighter.css' | prepend: site.baseurl}}" rel="stylesheet">
  <link href="{{'assets/css/adminlte.min.css' | prepend: site.baseurl}}" rel="stylesheet">
</head>
